<head>
  <!-- Favicons -->
  <link rel="icon" type="image/png" href="/img/favicon-96x96.png" >

  <!-- Meta -->
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="generator" content="Jekyll">

  <title>{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  {% css main %}
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,400italic%7CSignika:700,300,400,600' rel='stylesheet' type='text/css'>

  <!-- RSS -->
  <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Blog zezin" />
</head>
