<header id="header">
  <a href="{{ site.baseurl }}">
    <h1>(blog 'zezin)</h1>
  </a>
  <div id="icons">
    <a target="_blank" href="{{ site.github }}">
      <i class="fa fa-github fa-lg"></i>
    </a>
    <a target="_blank" href="{{ site.gitlab }}">
      <i class="fa fa-gitlab fa-lg"></i>
    </a>
  </div>
</header>
