.org-src-container {
  color: #FDF4C1;
  background-color: #282828;
}

.org-builtin {
  /* font-lock-builtin-face */
  color: #FE8019;
}

.org-comment {
  /* font-lock-comment-face */
  color: #7C6F64;
}

.org-comment-delimiter {
  /* font-lock-comment-delimiter-face */
  color: #4f5b66;
}

.org-css-property {
  /* css-property */
  color: #83A598;
}

.org-css-selector {
  /* css-selector */
  color: #A89984;
}

.org-doc {
  /* font-lock-doc-face */
  color: #a7adba;
}

.org-function-name {
  /* font-lock-function-name-face */
  color: #A89984;
}

.org-keyword {
  /* font-lock-keyword-face */
  color: #DD6F48;
}

.org-rainbow-delimiters-depth-1 {
  /* rainbow-delimiters-depth-1-face */
  color: #5C7E81;
}

.org-rainbow-delimiters-depth-2 {
  /* rainbow-delimiters-depth-2-face */
  color: #837486;
}

.org-rainbow-delimiters-depth-3 {
  /* rainbow-delimiters-depth-3-face */
  color: #9C6F68;
}

.org-rainbow-delimiters-depth-4 {
  /* rainbow-delimiters-depth-4-face */
  color: #7B665C;
}

.org-rainbow-delimiters-depth-5 {
  /* rainbow-delimiters-depth-5-face */
  color: #5C7E81;
}

.org-regexp-grouping-backslash {
  /* font-lock-regexp-grouping-backslash */
  color: #fac863;
}

.org-regexp-grouping-construct {
  /* font-lock-regexp-grouping-construct */
  color: #c594c5;
}

.org-shinning {
  /* shinning-face */
  color: #ff0000;
  background-color: #ffffff;
}

.org-string {
  /* font-lock-string-face */
  color: #528B8B;
}

.org-variable-name {
  /* font-lock-variable-name-face */
  color: #83A598;
}